<!-- http://jinja.pocoo.org/docs/dev/templates/#template-inheritance -->
{% extends "base.html" %}
{% block title %}Done{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}

    <h1>Done!</h1>
    <a role="button" class="btn btn-danger" href="{{pl_url}}" target="_blank" style=""><h4>Listen To Your Playlist</h4></a>
    <br /><br />
    <!-- <h3>Give this code to your friends http://mp.soundshelter.net/?ref_code={{ref_code}}</h3> -->
    We added the following tracks<br /><br />
    {% for image in images %}
    	<img src="{{image}}" heigh=100 width=100 />
    {% endfor %}
    <br /><br /><br />
    <a role="button" class="btn btn-success" href="/" target="_self" style=""><h4>Do Another One</h4></a>

{% endblock %}