<!-- http://jinja.pocoo.org/docs/dev/templates/#template-inheritance -->
{% extends "base.html" %}
{% block title %}Done{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Done!</h1>
    <h3>Listen to the playlist <a href="{{pl_url}}" target="_blank">here</a></h3>
    <h3>Give this code to your friends http://mp.soundshelter.net/?ref_code={{ref_code}}</h3>
    {% for track in tracks %}
    	{{track}}<br />
    {% endfor %}
    <h4><a href="/" target="_self">Go home</a></h4>
</div>
{% endblock %}