<!-- http://jinja.pocoo.org/docs/dev/templates/#template-inheritance -->
{% extends "base.html" %}
{% block title %}Most Played{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="container">
	
		<div class="">
	    	<h1>Spotify Bangers Playlist Generator</h1>
	   		<h2>Get a playlist of your most played tracks on Spotify</h2>
	    </div>
		<div class="">
			<br />
	    	<form action="/go" method="get">
	    		
	    		
	    			<h3>What time range would you like to use?</h3>
	    			<h4>
			    		<label class="radio-inline">
							<input type="radio" name="time_range" id="inlineCheckbox1" value="short_term" checked> Most Recent
						</label>
						<label class="radio-inline">
						  	<input type="radio" name="time_range" id="inlineCheckbox2" value="medium_term"> Medium Term
						</label>
						<label class="radio-inline">
						  	<input type="radio" name="time_range" id="inlineCheckbox3" value="long_term"> All Time
						</label>
					</h4>
		    	
		    	<br />
		    	<div class="">
		      		<button type="submit" class="btn btn-primary" style="">Create My Playlist</button>
		      	</div>
	      		
	      	</form>
    	
    </div>
    
</div>
{% endblock %}