<script type="text/javascript">
	mixpanel.track("Visited Home Page");
</script>

<!-- http://jinja.pocoo.org/docs/dev/templates/#template-inheritance -->
{% extends "base.html" %}
{% block title %}Get a Spotify playlist of your most listened to tracks{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="">

		<div class="">
	    	<!-- <h1>Spotify Bangers Playlist Generator</h1> -->
	   		<h1>Get a Spotify playlist of your most listened to tracks</h1>
	    </div>
		<div class="">
			<br />
	    	<form action="/go" method="get">


	    			<h3>What time range would you like to use?</h3>
	    			<br />
	    			<h4>

							<input type="radio" name="time_range" id="inlineCheckbox1" value="short_term" checked> Last Few Weeks
							<br />
							<input type="radio" name="time_range" id="inlineCheckbox2" value="medium_term"> Last Few Months
							<br />
							<input type="radio" name="time_range" id="inlineCheckbox3" value="long_term"> Last Few years

					</h4>
					<!-- <br />
					<h3>How many tracks do you want?</h3>
					<h4>
						<input type="range" min="5" max="50" value="30" name="num_tracks" step="5" onchange="showValue(this.value)" />

						<span id="range">30</span>
					</h4>
						<script type="text/javascript">
						function showValue(newValue)
						{
							document.getElementById("range").innerHTML=newValue;
						}
						</script> -->
		    		<br />
		    	<br />
		    	<div class="">
		      		<button type="submit" class="btn btn-danger" style=""><h4>Create My Playlist</h4></button>
		      	</div>

	      	</form>

    </div>

</div>
{% endblock %}
