<!-- http://jinja.pocoo.org/docs/dev/templates/#template-inheritance -->
{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Spotify Bangers Playlist Generator</h1>
    <p class="important">
    	<h2>Create a playlist of your most listened to tracks</h2>
      <h3>Click <a href="/go">here</a> to add songs to your playlist</h3>
    </p>
</div>
{% endblock %}