.important { color: #336699; }

body {background-color: #f2f2f2; color: #555; font-family: 'Futura','Helvetica Neue',sans-serif}

.container {
	    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.background-image {
	background-size: cover;
    -webkit-filter: blur(2px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    /* z-index: 1; */
}

.main_area {
	background-color: #f2f2f2;
	padding:3%;
	margin-top:5%;
	margin-bottom:5%;
}

.footer {
   border-top: 1px solid #333;
   padding-top:5%;
}

a {
    text-decoration: underline;
    color:#555;
}