.important { color: #336699; }

body {background-color: #f2f2f2; color: rgba(21,21,21,0.8);}

.container {
	    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.background-image {
	background-size: cover;
    -webkit-filter: blur(2px);
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    /* z-index: 1; */
}

.main_area {
	background-color: #f2f2f2;
	padding:10%;
	margin-top:1%;
	margin-bottom:1%;
}